[project]
	description = A repository for the mtd-util | Repo Category: optional_review, History Protection: On
[access]
	inheritFrom = TF-Projects/proj10252
[access "refs/*"]
	owner = group TF: Gated Project - Site Wide Admin Access
	owner = group TF: openbmc: Administrator
	read = group TF: Gated Project - Site Wide Admin Access
	read = group TF: Gated Project - Site Wide Commit Access
	read = group TF: Gated Project - Site Wide Delete Access
	read = group TF: Gated Project - Site Wide View Access
	read = group TF: openbmc: Administrator
	read = group TF: openbmc: Developer
	read = group TF: openbmc: Maintainer
	read = group TF: openbmc: Read Only
	read = group TF: openbmc: Submitter
	abandon = group TF: Gated Project - Site Wide Admin Access
	abandon = group TF: openbmc: Administrator
	create = group TF: Gated Project - Site Wide Admin Access
	create = group TF: Gated Project - Site Wide Commit Access
	create = group TF: Gated Project - Site Wide Delete Access
	create = group TF: openbmc: Administrator
	create = group TF: openbmc: Developer
	create = group TF: openbmc: Maintainer
	forgeAuthor = group TF: Gated Project - Site Wide Admin Access
	forgeAuthor = group TF: Gated Project - Site Wide Commit Access
	forgeAuthor = group TF: Gated Project - Site Wide Delete Access
	forgeAuthor = group TF: openbmc: Administrator
	forgeAuthor = group TF: openbmc: Developer
	forgeAuthor = group TF: openbmc: Maintainer
	forgeCommitter = group TF: Gated Project - Site Wide Admin Access
	forgeCommitter = group TF: Gated Project - Site Wide Commit Access
	forgeCommitter = group TF: Gated Project - Site Wide Delete Access
	forgeCommitter = group TF: openbmc: Administrator
	forgeCommitter = group TF: openbmc: Developer
	forgeCommitter = group TF: openbmc: Maintainer
	forgeServerAsCommitter = group TF: Gated Project - Site Wide Admin Access
	forgeServerAsCommitter = group TF: openbmc: Administrator
	push = +force group TF: Gated Project - Site Wide Admin Access
	push = group TF: Gated Project - Site Wide Commit Access
	push = +force group TF: Gated Project - Site Wide Delete Access
	push = +force group TF: openbmc: Administrator
	push = group TF: openbmc: Developer
	push = group TF: openbmc: Maintainer
	label-Code-Review = -2..+2 group TF: Gated Project - Site Wide Admin Access
	label-Code-Review = -2..+2 group TF: Gated Project - Site Wide Commit Access
	label-Code-Review = -2..+2 group TF: Gated Project - Site Wide Delete Access
	label-Code-Review = -2..+2 group TF: openbmc: Administrator
	label-Code-Review = -2..+2 group TF: openbmc: Developer
	label-Code-Review = -2..+2 group TF: openbmc: Maintainer
	label-Code-Review = -1..+1 group TF: Gated Project - Site Wide View Access
	label-Code-Review = -1..+1 group TF: openbmc: Read Only
	label-Code-Review = -1..+1 group TF: openbmc: Submitter
	label-Verified = -1..+1 group TF: Gated Project - Site Wide Admin Access
	label-Verified = -1..+1 group TF: Gated Project - Site Wide Commit Access
	label-Verified = -1..+1 group TF: Gated Project - Site Wide Delete Access
	label-Verified = -1..+1 group TF: openbmc: Administrator
	label-Verified = -1..+1 group TF: openbmc: Developer
	label-Verified = -1..+1 group TF: openbmc: Maintainer
	submit = group TF: Gated Project - Site Wide Admin Access
	submit = group TF: Gated Project - Site Wide Commit Access
	submit = group TF: Gated Project - Site Wide Delete Access
	submit = group TF: openbmc: Administrator
	submit = group TF: openbmc: Developer
	submit = group TF: openbmc: Maintainer
	viewDrafts = group TF: Gated Project - Site Wide Admin Access
	viewDrafts = group TF: Gated Project - Site Wide Commit Access
	viewDrafts = group TF: Gated Project - Site Wide Delete Access
	viewDrafts = group TF: Gated Project - Site Wide View Access
	viewDrafts = group TF: openbmc: Administrator
	viewDrafts = group TF: openbmc: Developer
	viewDrafts = group TF: openbmc: Maintainer
	viewDrafts = group TF: openbmc: Read Only
	viewDrafts = group TF: openbmc: Submitter
	deleteDrafts = group TF: Gated Project - Site Wide Admin Access
	deleteDrafts = group TF: openbmc: Administrator
	publishDrafts = group TF: Gated Project - Site Wide Admin Access
	publishDrafts = group TF: Gated Project - Site Wide Commit Access
	publishDrafts = group TF: Gated Project - Site Wide Delete Access
	publishDrafts = group TF: Gated Project - Site Wide View Access
	publishDrafts = group TF: openbmc: Administrator
	publishDrafts = group TF: openbmc: Developer
	publishDrafts = group TF: openbmc: Maintainer
	publishDrafts = group TF: openbmc: Read Only
	publishDrafts = group TF: openbmc: Submitter
	editassignee = editAssignee = group TF: openbmc: Submitter
[access "refs/for/refs/*"]
	push = group TF: Gated Project - Site Wide Admin Access
	push = group TF: Gated Project - Site Wide Commit Access
	push = group TF: Gated Project - Site Wide Delete Access
	push = group TF: Gated Project - Site Wide View Access
	push = group TF: openbmc: Administrator
	push = group TF: openbmc: Developer
	push = group TF: openbmc: Maintainer
	push = group TF: openbmc: Read Only
	push = group TF: openbmc: Submitter
	pushMerge = group TF: Gated Project - Site Wide Admin Access
	pushMerge = group TF: Gated Project - Site Wide Commit Access
	pushMerge = group TF: Gated Project - Site Wide Delete Access
	pushMerge = group TF: openbmc: Administrator
	pushMerge = group TF: openbmc: Developer
	pushMerge = group TF: openbmc: Maintainer
	rebase = group TF: Gated Project - Site Wide Admin Access
	rebase = group TF: Gated Project - Site Wide Commit Access
	rebase = group TF: Gated Project - Site Wide Delete Access
	rebase = group TF: Gated Project - Site Wide View Access
	rebase = group TF: openbmc: Administrator
	rebase = group TF: openbmc: Developer
	rebase = group TF: openbmc: Maintainer
	rebase = group TF: openbmc: Read Only
	rebase = group TF: openbmc: Submitter
[access "refs/meta/dashboards/openbmc(proj10252)"]
	read = deny group Anonymous Users
	read = deny group Registered Users
	read = deny group TF: Direct Project Member of proj10252 (openbmc)
	read = deny group TF: Non-restricted Users
	read = deny group TF: Project Member of proj10252 (openbmc)
[access "refs/tags/*"]
	createTag = group TF: Gated Project - Site Wide Admin Access
	createTag = group TF: Gated Project - Site Wide Commit Access
	createTag = group TF: Gated Project - Site Wide Delete Access
	createTag = group TF: openbmc: Administrator
	createTag = group TF: openbmc: Developer
	createTag = group TF: openbmc: Maintainer
	createSignedTag = group TF: Gated Project - Site Wide Admin Access
	createSignedTag = group TF: Gated Project - Site Wide Commit Access
	createSignedTag = group TF: Gated Project - Site Wide Delete Access
	createSignedTag = group TF: openbmc: Administrator
	createSignedTag = group TF: openbmc: Developer
	createSignedTag = group TF: openbmc: Maintainer
